@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: interRoman;
    src: url(../public/fonts/Inter-roman.var.woff2);
}
*{
    font-family: interRoman;
}
@layer utilities{
    .custom-bg-lg{
        background: linear-gradient(72.47deg,rgb(115,103,240) 22.16%,rgba(115,103,204,.7) 76.47%)!important;
    }
    .custom-position-center{
        transform: translate(-50%, -50%)
    }
    .custom-border{
        border-color: rgb(115,103,240);
    }
    .backdrop-blur {
        background-color: rgba(91, 112, 131, 0.4);
    }
    .custom-bg-op{
        background-color: rgba(91, 112, 131, 0.4);
    }
    .custom-text-border{
        --text-border-width: 2px;
        -webkit-text-stroke-color: #000;
        -webkit-text-stroke-width: 2px;
        -webkit-text-fill-color: #fff;
    }
    .custom-shadow{
        box-shadow: 5px 5px 0px #141414;
    }
    .custom-card-border{
        background: radial-gradient(ellipse at 40% 0, #bf398910 0, #0000 75%), radial-gradient(ellipse at 60% 0, #096bde10 0, #0000 75%);
        border: max(1px, 0.0625rem, 1px) solid #30363d;
    }
    .custom__bg{
        background: radial-gradient(ellipse at 40% 0, #bf398910 0, #0000 75%), radial-gradient(ellipse at 60% 0, #096bde10 0, #0000 75%);
    }
    .resumeColor{
        color: hsl(220 8.9% 46.1%);
    }
    .resumeTag{
        background-color: hsl(220 14.3% 95.9% / .6);
    }
}

::selection {
    color: #fff;
    background: #151819;
}
::-webkit-scrollbar-thumb{
    background-color: #818181;
    border-radius: 3px solid #818181;
    border-radius: 16px;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #F2F2F2;
}

[placeholder]:empty::before {
    content: attr(placeholder);
    color: #000;
}
.skill_placeholder[placeholder]:empty::before {
    content: attr(placeholder);
    color: #fff;
}
.bg-resume{
    background: url('../public/grad-bg.jpg') no-repeat center center/cover;
}