@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .custom-bg-lg{
        background: linear-gradient(72.47deg,rgb(115,103,240) 22.16%,rgba(115,103,204,.7) 76.47%)!important;
    }
    .custom-position-center{
        transform: translate(-50%, -50%)
    }
    .custom-border{
        border-color: rgb(115,103,240);
    }
}

